# SIF file with the graph
*.SIF

# cypher query
*.cy

# arabidopsis data
dictionaries/*
metabolism_corp/*

#TEES large
TEES-master/.tees
TEES-master/.tees_local_settings.py
TEES-master/.tees_local_settings.pyc

*.pyc

#folders
databases/*
data/*
neo4j_dbs/*

*.orig

Inparanoid/INPARA_blastp*
*.out
